.main__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 36px;
  padding-bottom: 35px;
}
.main__question {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.main__answers {
  min-width: 300px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.main__item {
  list-style: none;
  padding: 20px;
}

.main__item:before {
  padding-right: 10px;
  content: "●";
}

.main__item_active {
  list-style: none;
  padding: 20px;
}

.main__item_active:before {
  padding-right: 10px;
  content: "✓";
}

.main__item_hover{
  cursor: pointer;
}

.main__buttons {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  justify-content: flex-start;
}

.main__btn{
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 20px;
}

.main__btn:hover {
  box-shadow: 0px 0px 5px 0px #fff;
}
.main__btn:active {
  box-shadow: inset 0px 0px 8px 2px #fff;
}
