.header {
  padding: 28px 0 57px 0;
}
.header__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
